@model int
<div class="text-center">
    <h1 class="text-info pt-4">Tebrikler! Muhteşem bir adım daha yaklaştınız.</h1>
    <p class="pb-3">Siparişinizi aldık ve normal mesai saatleri içerisinde 30 dakika içinde hazır olacak!</p>
    <h4 class="text-warning pb-3">Order ID - @Model</h4>
    <img src="/images/order.jpg" width="80%" />
</div>