@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container-fluid vh-100 d-flex align-items-center justify-content-center text-white" style="background: linear-gradient(135deg, #667eea, #764ba2);">
    <div class="col-md-6">
        <div class="card border-0 shadow-lg" style="backdrop-filter: blur(10px); background: rgba(255, 255, 255, 0.1); border-radius: 20px; overflow: hidden;">
            <div class="card-body p-5 text-center">
                <h1 class="fw-bold">@ViewData["Title"]</h1>
                <hr class="border-light" />
                <p class="lead"> Sitenizin gizlilik politikasının ayrıntılarını öğrenmek için bu sayfayı kullanın.</p>
            </div>
        </div>
    </div>
</div>